
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1483679065033'); /* IE9*/
  src: url('iconfont.eot?t=1483679065033#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1483679065033') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1483679065033') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1483679065033#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before { content: "\e601"; }

.icon-arrow-right:before { content: "\e688"; }

.icon-weidian:before { content: "\e60f"; }

.icon-suo:before { content: "\e623"; }

.icon-bankcardo:before { content: "\e654"; }

.icon-card:before { content: "\e76f"; }

.icon-shousuo:before { content: "\e607"; }

.icon-yiguoqi:before { content: "\e651"; }

.icon-yuyin:before { content: "\e642"; }

.icon-ai-module:before { content: "\e604"; }

.icon-suo1:before { content: "\e62c"; }

.icon-anonymous-iconfont:before { content: "\e619"; }

.icon-waiburenyuan:before { content: "\e62e"; }

.icon-anquan:before { content: "\e7e6"; }

.icon-haibao23:before { content: "\e631"; }

.icon-cuotiben:before { content: "\e63f"; }

.icon-5_7wangluoziyuan:before { content: "\e73d"; }

